@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Mulish', sans-serif;
}

.container {
    width: 75%;
    margin: 0 auto;
}

.text-black {
    color: #131318;
}

.text-orange {
    color: #FF5400;
}

/* Header Menu section start */
.logo-section {
    display: flex;
    align-items: center;
}

.logo-section h3 {
    color: #131318;
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.logo-section img{
    max-width: 48px;
    max-height: 56px;
}
nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    font-weight: bold;
    font-family: sans-serif;
    padding: 40px 0;
}

nav a {
    text-decoration: none;
    color: black;
}

.list {
    display: flex;
    list-style: none;
    gap: 25px;
}


#toggler,
label {
    display: none;
}

label i {
    color: black;
}

@media screen and (max-width: 600px) {

    .logo-section h3{
        font-size: 21.543px;
    }
    .menu {
        width: 100%;
        max-height: 0;
        overflow: hidden;
    }

    label {
        display: inline-flex;
    }

    #toggler:checked~.menu {
        max-height: 100%;
    }

    .list {
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }
}