@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Mulish', sans-serif;
}

.container {
    width: 75%;
    margin: 0 auto;
}

.text-black {
    color: #131318;
}

.text-orange {
    color: #FF5400;
}

/* Header Menu section start */
.logo-section {
    display: flex;
    align-items: center;
}

.logo-section h3 {
    color: #131318;
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.logo-section img {
    max-width: 48px;
    max-height: 56px;
}

nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    font-weight: bold;
    font-family: sans-serif;
    padding: 40px 0;
}

nav a {
    text-decoration: none;
    color: black;
}

.list {
    display: flex;
    list-style: none;
    gap: 25px;
}

#toggler,
label {
    display: none;
}

label i {
    color: black;
}

/* Header Menu Section end */
/* Header Banner section Start */
.header-banner {
    /* background-image: url(./Images/group13.png); */
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url(./Images/group13.png);
    border-radius: 10px;


    background-size: cover;
    background-repeat: no-repeat;
    padding: 106px 0;
}

.header-banner-text {
    max-width: 667px;
    margin: 0 auto;
    text-align: center;
}

.header-banner-text h1 {
    color: #FFF;
    font-size: 64px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.header-banner-text p {
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 30px;
}

.header-banner-input {
    max-width: 800px;
    background: rgba(255, 255, 255, 0.418);
    margin: 0 auto;
    /* display: grid;
    grid-template-columns: repeat(4,1fr); */
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 15px 15px;
    border-radius: 10px;
}

.header-banner-input input,
select,
button {
    padding: 20px 5px;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    width: 23%;
}

.header-banner-input button {
    background: #FF5400;
    color: #FFF;
}

/* Header Banner section end */
/* Popular Tours section start */
#popular-tours-main {
    padding: 100px 0;
}

.popular-tours {
    display: flex;
}

/* Popular tours text */
.popular-tours-text {
    width: 50%;
}

.popular-tours-text h2 {
    color: #131318;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.popular-tours-text p,
.popular-tours-text ul {
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    padding: 10px 0;
}

.popular-tours-text ul {
    margin-left: 20px;

}

.popular-tours-text ul li {
    margin: 10px 0;
}

.popular-tours-text button {
    border-radius: 8px;
    background: #FF5400;
    padding: 13px 13px;
    color: #FFF;
}

/* Popular tours image */
.popular-tours-img {
    width: 50%;
}

.popular-tours-photo {
    width: 90%;
    max-height: 500px;
    float: right;
}

.popular-tours-photo img {
    width: 100%;
    height: 100%;
}

/* Popular Tours section end */



/* Responsive section */
@media screen and (max-width: 600px) {

    /* Header section start */
    .logo-section h3 {
        font-size: 21.543px;
    }

    .menu {
        width: 100%;
        max-height: 0;
        overflow: hidden;
    }

    label {
        display: inline-flex;
    }

    #toggler:checked~.menu {
        max-height: 100%;
    }

    .list {
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

    /* Header section end */
    /* Header Banner Section start */
    .header-banner-text h1 {
        font-size: 22px;
    }

    .header-banner-text p {
        font-size: 14px;
    }

    .header-banner-input {
        flex-direction: column;

    }

    .header-banner-input input,
    select,
    button {
        width: 100%;
    }

    .header-banner-input input {
        width: 96%;
    }

    /* Header Banner Section end */
    /* Popular Toure Start */
    .popular-tours-text h2 {
        font-size: 20px;
    }

    .popular-tours-text p,
    .popular-tours-text ul {
        font-size: 14px;
    }
    .popular-tours{
        flex-direction: column;
    }
    .popular-tours-text{
        width: 100%;
        padding: 50px 0;
    }
    .popular-tours-img{
        width: 100%;
    }
    .popular-tours-photo{
        width: 100%;
        
    }
    .popular-tours-btn{
        width: 50%;
    }
    /* Popular Toure end */
}