@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Mulish', sans-serif;
}

.container {
    width: 75%;
    margin: 0 auto;
}

.text-black {
    color: #131318;
}

.text-orange {
    color: #FF5400;
}

/* Header Menu section start */
.logo-section {
    display: flex;
    align-items: center;
}

.logo-section h3 {
    color: #131318;
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.logo-section img {
    max-width: 48px;
    max-height: 56px;
}

nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    font-weight: bold;
    font-family: sans-serif;
    padding: 40px 0;
}

nav a {
    text-decoration: none;
    color: black;
}

.list {
    display: flex;
    list-style: none;
    gap: 25px;
}

#toggler,
label {
    display: none;
}

label i {
    color: black;
}

/* Header Menu Section end */
/* Header Banner section Start */
.header-banner {
    /* background-image: url(./Images/group13.png); */
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url(./Images/group13.png);
    border-radius: 10px;


    background-size: cover;
    background-repeat: no-repeat;
    padding: 106px 0;
}

.header-banner-text {
    max-width: 667px;
    margin: 0 auto;
    text-align: center;
}

.header-banner-text h1 {
    color: #FFF;
    font-size: 64px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.header-banner-text p {
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 30px;
}

.header-banner-input {
    max-width: 800px;
    background: rgba(255, 255, 255, 0.418);
    margin: 0 auto;
    /* display: grid;
    grid-template-columns: repeat(4,1fr); */
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 15px 15px;
    border-radius: 10px;
}

.header-banner-input input,
select,
button {
    padding: 20px 5px;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    width: 23%;
}

.header-banner-input button {
    background: #FF5400;
    color: #FFF;
}

/* Header Banner section end */
/* Popular Tours section start */
#popular-tours-main {
    padding: 100px 0;
}

.popular-tours {
    display: flex;
}

/* Popular tours text */
.popular-tours-text {
    width: 50%;
}

.popular-tours-text h2 {
    color: #131318;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.popular-tours-text p,
.popular-tours-text ul {
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    padding: 10px 0;
}

.popular-tours-text ul {
    margin-left: 20px;

}

.popular-tours-text ul li {
    margin: 10px 0;
}

.popular-tours-text button {
    border-radius: 8px;
    background: #FF5400;
    padding: 13px 13px;
    color: #FFF;
}

/* Popular tours image */
.popular-tours-img {
    width: 50%;
}

.popular-tours-photo {
    width: 90%;
    max-height: 500px;
    float: right;
}

.popular-tours-photo img {
    width: 100%;
    height: 100%;
}

/* Popular Tours section end */

/* Destinitation section start */
.header-text {
    max-width: 680px;
    margin: 0 auto;
    text-align: center;
}

.header-text h2 {
    color: #131318;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.header-text p {
    color: rgba(19, 19, 24, 0.70);
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    padding: 30px 0;
}

/* Destination Gallery */
.destination-gallery-1,
.destination-gallery-2,
.destination-gallery-3 {
    display: flex;
    gap: 20px;
}

.maldives h2 {
    position: absolute;
    margin-top: 50%;
}

.destination-gallery-1 div {
    width: 50%;
    max-height: 300px;
}

.destination-gallery-1 div img,
.destination-gallery-2 div img,
.destination-gallery-3 div img {
    width: 100%;
    height: 100%;

}

.maldives,
.indonesia,
.srilanka,
.north-america,
.kashmir,
.bangladesh,
.bandarban {
    position: relative;
}

.maldives h3,
.indonesia h3,
.srilanka h3,
.north-america h3,
.kashmir h3,
.bangladesh h3,
.bandarban h3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}

/* Destination Gallery 2 */
.destination-gallery-2 {
    margin: 20px 0;
}

.destination-gallery-2 .srilanka {
    width: 30%;
    max-height: 300px;
}

.destination-gallery-2 .north-america {
    width: 45%;
    max-height: 300px;
}

.destination-gallery-2 .kashmir {
    width: 25%;
    max-height: 300px;
}

/* .destination-gallery-2 img {
    width: 100%;
    height: 100%;
} */
/* Destination Gallery 3 */
.destination-gallery-3 {
    margin: 20px 0;
}

.destination-gallery-3 .bangladesh {
    width: 40%;
    max-height: 300px;
}

.destination-gallery-3 .bandarban {
    width: 60%;
    max-height: 300px;
}

/* Destinitation section end */
/* Chose Us Section Start */
.chose-us-main {
    padding: 50px 0;
}

/* handpicked-hotels start */
.chose-us-main-card {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.handpicked-hotels {
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    padding: 50px 32px;
}

/* Word Class Service */
.world-class-service {
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
    padding: 50px 32px;
}

/* Second Row Card */
.second-row-card {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 20px 0;
}

.second-row-main-card {
    width: 50%;
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
    padding: 50px 32px;
}

.chose-us-card h4 {
    color: #131318;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.chose-us-card p {
    color: #5A5A5D;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

/* Chose Us Section End */
/* Deals and Discounts Section Start */
.deals-section-1 {
    background: url(./Images/group39.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 55px 0;
    margin: 20px 0;
    border-radius: 15px;
}

/* Deals Section 1 */
.dil-card {
    width: 35%;
    padding: 63px 50px;
    border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);

}

.deals-card-icon {
    display: flex;
    gap: 20px;
}

.deals-card-main {
    display: flex;
    justify-content: right;
    margin-right: 56px;
}

.deals-btn {
    text-decoration: none;
    padding: 15px 20px;
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
}

.deals-card-text h4 {
    color: #131318;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.deals-card-text p {
    color: #5A5A5D;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

.deals-card-text h5 {
    color: #FF5400;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.deals-card-maiddle {
    margin-left: 56px;
}

#deals-card-middle {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-left: 56px;
}

.see-all-button {
    text-align: center;
}

.see-all-button button {
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
}

/* Deals and Discounts Section End */

/* Perfect place Section start*/
#perfect-place-main {
    padding: 90px 0;
}

.perfect-place-image {
    width: 50%;
    max-height: 424px;
}

.perfect-place-image img {
    width: 90%;
    height: 100%;
    float: right;
    border-radius: 15px;
}

.perfect-place {
    display: flex;
}

/* Perfect place Section end*/

/* News latter section start */
.news-latter {
    display: flex;
    gap: 50px;
}

.newslatter-form {
    width: 40%;
}

.newslatter-text {
    width: 60%;
    max-height: 422px;
}

.newslatter-form h4 {
    color: #131318;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.newslatter-form p {
    color: #5A5A5D;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

.newslatter-form {
    border-radius: 16px;
    border: 1px solid #FF5400;
    padding: 20px;
}

.newslatter-form input {
    width: 95%;
    padding: 15px 10px;
    margin: 10px;
    border: none;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
}

.subscribe-btn {
    padding: 10px 10px;
    width: 100%;
    background: #FF5400;
    margin: 10px;
    border: none;
}

/* news-latter image and text section */
.newslatter-img-text {
    position: relative;
}

.newslatter-img-text img {
    width: 100%;
}

.newslatter-div {
    background: #FF5400;
    width: 30%;
    color: #FFF;
    padding: 20px;
    position: absolute;
    top: 64%;
    left: 62%;
    transform: rotate(-30deg);
    text-align: center;
}

/* News latter section end */


/* *********************************************************************************** */
/* Responsive section */
/* *********************************************************************************** */
@media screen and (max-width: 600px) {

    /* Header section start */
    .logo-section h3 {
        font-size: 21.543px;
    }

    .menu {
        width: 100%;
        max-height: 0;
        overflow: hidden;
    }

    label {
        display: inline-flex;
    }

    #toggler:checked~.menu {
        max-height: 100%;
    }

    .list {
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

    /* Header section end */
    /* Header Banner Section start */
    .header-banner-text h1 {
        font-size: 22px;
    }

    .header-banner-text p {
        font-size: 14px;
    }

    .header-banner-input {
        flex-direction: column;

    }

    .header-banner-input input,
    select,
    button {
        width: 100%;
    }

    .header-banner-input input {
        width: 96%;
    }

    /* Header Banner Section end */
    /* Popular Toure Start */
    .popular-tours-text h2 {
        font-size: 20px;
    }

    .popular-tours-text p,
    .popular-tours-text ul {
        font-size: 14px;
    }

    .popular-tours {
        flex-direction: column;
    }

    .popular-tours-text {
        width: 100%;
        padding: 50px 0;
    }

    .popular-tours-img {
        width: 100%;
    }

    .popular-tours-photo {
        width: 100%;

    }

    .popular-tours-btn {
        width: 50%;
    }

    /* Popular Toure end */
    /* Destination section start */
    .destination-gallery-1,
    .destination-gallery-2,
    .destination-gallery-3 {
        flex-direction: column;
    }

    .destination-gallery-1 div,
    .destination-gallery-2 .srilanka,
    .destination-gallery-2 .north-america,
    .destination-gallery-2 .kashmir,
    .destination-gallery-3 .bangladesh,
    .destination-gallery-3 .bandarban {
        width: 100%;
    }

    /* Destination section end */
    /* Chose Us Section Start */
    .chose-us-main-card {
        flex-direction: column;
    }

    .second-row-main-card {
        width: 100%;
    }

    .chose-us-card h4 {
        font-size: 20px;
    }

    .chose-us-card p {
        font-size: 14px;
    }

    /* Chose Us Section end */
    .header-text h2 {
        font-size: 20px;
        font-weight: 800;
    }

    .header-text p {
        font-size: 14px;
    }

    /* Deals and DIscount Section start */
    .dil-card {
        width: 60%;
        margin-top: 200px;
    }

    .deals-card-main,
    #deals-card-middle {
        margin: 0;
        justify-content: center;
        align-items: end;
        margin-bottom: -10;
    }

    /* Deals and DIscount Section end */
    /* Perfect Place start */
    .perfect-place {
        flex-direction: column;
    }

    .perfect-place-image {
        width: 100%;
    }

    .perfect-place-image img {
        width: 100%;
    }

    /* Perfect Place end */
    .news-latter{
        flex-direction: column;
    }
    .newslatter-form {
        width: 100%;
        padding: 0;
        border: none;
    }
    
    .newslatter-text {
        width: 100%;
    }
    
}